@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
body {
    text-align:center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: WHITE;
}

.box {
    width: 500px;
    padding: 40px;
    position: relative;
    background: #191919;
    text-align: center;
    border-radius: 20px;
    margin:0 auto;
}

p{
   color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"] {
    border: 0;
    background: none;
    display: inline;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    color : white;
}

.title {
        color : black;
        font-size: 100px;
        font-family: fantasy;
        margin-top:5%;
}

button{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width:150px;
}

.radio_id,
.radio_pw,
.name,
.phone,
.radio,
.search,
.search1{
   display:inline;
}

.radio_id{
   margin-right:50px;
}

.search:hover{
   background-color:#2ecc71;
   color: white;
}

.search1:hover{
   background-color:#2ecc71;
   color: white;
}

.pw1{
   border: 0;
    background: none;
    display: inline;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    color : white;
}