@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import
	url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css)
	;

body {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: WHITE;
}

.box {
	width: 500px;
	padding: 40px;
	position: relative;
	background: #191919;
	text-align: center;
	border-radius: 20px;
	margin: 0 auto;
}

.btn-1 {
	font-weight: bold;
	width: 200px;
	height: 100px;
	display: block;
	margin: 20px auto;
	background: none;
	border: 1px solid #fff;
	color: #fff;
	font-size: 1.6em;
	border: 2px solid white;
	border-radius: 15px;
}

.btn-1:hover {
	background-color: white;
	color: black;
}

.title {
	color: black;
	font-size: 100px;
	font-family: fantasy;
	margin-top:5%;
}

.btn_logout{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    color: white;
    border-radius: 24px;
    cursor: pointer;
}

.btn_logout:hover {
	background-color: #2ecc71;
	color: white;
}