@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
body {
   text-align: center;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: WHITE;
}

.box {
   width: 700px;
   padding: 40px;
   position: relative;
   background: #191919;
   text-align: center;
   border-radius: 20px;
   margin: 0 auto;
}

.title {
   color: black;
   font-size: 100px;
   font-family: fantasy;
   margin-top:5%;
}

.box p{
   color: white;
    text-transform: uppercase;
    font-weight: 500;
   display:inline;
}

input[type=text],
input[type=password]{
    background: none;
    display: inline;
    position:relative;
    margin-bottom:20px;
    margin-left:10px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 200px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    outline:none;
}

.btn_check{
   position:absolute;
   top:10%;
   left:68%;
    background: none;
    margin-bottom:20px;
    text-align: center;
    border: 2px solid white;
    padding: 5px;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.btn_Check:hover{
   background-color:white;
   color:black;
}


.btn_join,
.btn_home {
    background: none;
    display: inline;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    color: #2ecc71;
    border-radius: 24px;
    cursor: pointer;
}

.btn_join:hover{
   background-color:#2ecc71;
   color:white;
}

.fom{
   margin-left:-50px;
}