@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
body {
    text-align:center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: WHITE;
}

.box {
    width: 500px;
    padding: 40px;
    position: relative;
    background: #191919;
    text-align: center;
    border-radius: 20px;
    margin:0 auto;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    color : white;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}



.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

.title {
        color : black;
        font-size: 100px;
        font-family: fantasy;
        margin-top:5%;
}

