@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import
	url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css)
	;

body {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: black;
	height: 99%;
	overflow: hidden;
}

.main_button{
	position: absolute;
	top: 2%;
	left: 90%;
}

.btn_main,
.btn_logout {
	font-weight: bold;
	width: 70px;
	height: 30px;
	display: inline;
	background: none;
	border: 2px solid white;
	color: white;
	font-size: 10px;
	border-radius: 15px;
}

.ip_stream {
	
	position: relative;
	height: 100%;
	width: 100%;
}

.control {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 99%;
	width: 99.5%;
}

.uppart {
	width: 100%;
	height: 33%;
	display: flex;
}

.middlepart {
	width: 100%;
	height: 34%;
	display: flex;
}

.downpart {
	width: 100%;
	height: 33%;
	display: flex;
}

.part {
	width: 33.3%;
	height: 100%;
	flex: 1;
}

.action_button {
	position: absolute;
	top: 2%;
	left: 45%;
}

#back,
#home,
#next{
	width: 70px;
	height: 30px;
	display: inline;
	background: none;
	border: 2px solid white;
	color: white;
	font-size: 10px;
	border-radius: 15px;
}

.arrow1 {
	position: absolute;
	top: 0%;
	left: 0%;
	transform: translate(10%, 10%);
	display: block;
	opacity: 0;
}

.arrow2 {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 10%);
	display: block;
	opacity: 0;
}

.arrow3 {
	position: absolute;
	top: 0%;
	left: 95%;
	transform: translate(-10%, 10%);
	display: block;
	opacity: 0;
}

.arrow4 {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(10%, -50%);
	display: block;
	opacity: 0;
}

.arrow5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	opacity: 0;
}

.arrow6 {
	position: absolute;
	top: 50%;
	left: 95%;
	transform: translate(-10%, -50%);
	display: block;
	opacity: 0;
}

.arrow7 {
	position: absolute;
	top: 90%;
	left: 0%;
	transform: translate(10%, -10%);
	display: block;
	opacity: 0;
}

.arrow8 {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -10%);
	display: block;
	opacity: 0;
}

.arrow9 {
	position: absolute;
	top: 90%;
	left: 95%;
	transform: translate(-10%, -10%);
	display: block;
	opacity: 0;
}

.part:hover .arrow1,
.part:hover .arrow2,
.part:hover .arrow3,
.part:hover .arrow4,
.part:hover .arrow5,
.part:hover .arrow6,
.part:hover .arrow7,
.part:hover .arrow8,
.part:hover .arrow9 {
	opacity: 0.5;
}